.text-uppercase {
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.semibold {
    font-weight: 600;
}