@import 'variables';
@import 'reset';
@import 'color';
@import 'button';
@import 'modal';
@import 'default';
@import 'sidebar';
@import 'main';

/* main css */
.site-container {
    background-color: #fff;
    overflow-x: hidden;

    header {
        background-color: #3A4F7B;
    }

    .logo {
        padding: 12px 0 12px 46px;
    }
}
.field {
    &-radio {
        label {
            line-height: 1.5;
            padding-left: 18px;
            position: relative;
            cursor: pointer;
            flex: 0 0 auto;

            input {
                // display: none;
            }

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                border: 1px solid #19a1ee;
                border-radius: 100%;
            }

            &::after {
                position: absolute;
                content: "";
                display: inline-block;
                left: 2px;
                top: 50%;
                transform: translateY(-50%);
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background-color: transparent;
            }


            &.group {
                &::after {
                    background-color: #8A8A8A;
                }

                &::before {
                    background-color: #8A8A8A;
                    border-color: #8A8A8A;
                }
            }
        }
        
        >input {
            display: none;
            &:checked+label {
                &::before {
                    border-color: #19a1ee;
                    background-color: transparent;
                }
    
                &::after {
                    background-color: #19a1ee;
                }
            }
            &:disabled+label::before{
                border-color: #D2CBCB;
                background-color: #D2CBCB;
            }
            &.note {
                display: block;
                width: auto;
            }
        }
        &.disable{
            label {
                &::after {
                    background-color: #8A8A8A;
                }
                &::before {
                    background-color: #8A8A8A;
                    border-color: #8A8A8A;
                }
            }
            >input:checked+label {
                &::before {
                    border-color: #8A8A8A;
                    background-color: transparent;
                }
    
                &::after {
                    background-color: #8A8A8A;
                }
            }
        }
    }
}