/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #464646; }

/* restyle */
.btn {
  width: 147px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  transition: .2s;
  outline: 0;
  border: 1px solid transparent;
  cursor: pointer; }

.btn.btn-primary {
  background-color: #52C8ED;
  border-color: #52C8ED; }

.btn.btn-secondary {
  background-color: #8A8A8A;
  border-color: #8A8A8A; }

.btn.btn-danger {
  background-color: #F64141F5;
  border-color: #F64141F5; }

.btn.btn-warning {
  background-color: #F5A14C;
  border-color: #F5A14C; }

.color-black {
  color: #000; }

.color-green {
  color: #21A849; }

.color-red {
  color: #EB1D1D; }

.color-gray {
  color: #8A8A8A; }

.text-uppercase {
  text-transform: uppercase; }

.d-flex {
  display: flex; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-between {
  justify-content: space-between; }

.align-center {
  align-items: center; }

h1,
h2,
h3,
h4,
h5,
h6,
.semibold {
  font-weight: 600; }

.sidebar {
  flex: 0 0 calc(400 / 1920 * 100%);
  background-color: #f4f4f4;
  min-height: 100vh;
  border: 1px solid #D2CBCB;
  margin-top: 1px; }

/* main css */
.site-container {
  background-color: #fff;
  overflow-x: hidden; }
  .site-container header {
    background-color: #3A4F7B; }
  .site-container .logo {
    padding: 12px 0 12px 46px; }

.site-content .sidebar-left__title {
  padding-top: 17px;
  padding-left: 20px; }
  .site-content .sidebar-left__title .back {
    cursor: pointer;
    width: 15px;
    justify-content: center;
    text-align: center; }
  .site-content .sidebar-left__title .title {
    font-size: 18px; }
  .site-content .sidebar-left__title .create-request {
    cursor: pointer;
    display: block; }

.site-content .sidebar-left__content .nav-tabs {
  width: 100%;
  display: flex;
  list-style: none;
  position: relative; }
  .site-content .sidebar-left__content .nav-tabs::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: #D2CBCB;
    z-index: 1; }
  .site-content .sidebar-left__content .nav-tabs li {
    width: 140px;
    text-align: center;
    color: #8A8A8A;
    font-weight: 600;
    position: relative; }
    .site-content .sidebar-left__content .nav-tabs li::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: transparent;
      left: 0;
      bottom: -1px;
      z-index: 2; }
    .site-content .sidebar-left__content .nav-tabs li.active, .site-content .sidebar-left__content .nav-tabs li:hover {
      color: #66CDEE; }
      .site-content .sidebar-left__content .nav-tabs li.active::after, .site-content .sidebar-left__content .nav-tabs li:hover::after {
        background-color: #66CDEE; }
    .site-content .sidebar-left__content .nav-tabs li a {
      text-decoration: none;
      color: inherit;
      padding: 7px 0;
      display: inline-block;
      border-bottom: 2px solid transparent; }

.site-content .main {
  flex: 1 0 auto; }
  .site-content .main-container {
    width: 100%;
    padding-left: 38px; }
  .site-content .main__header {
    border-bottom: 1px solid #D2CBCB; }
    .site-content .main__header__title {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      color: #000;
      padding: 18px 0 10px; }
    .site-content .main__header__description {
      color: #8A8A8A;
      line-height: 1.5; }
    .site-content .main__header__box-button {
      width: 40.56604%;
      margin: 12px 20px 6px auto; }
      .site-content .main__header__box-button button {
        display: block;
        width: 100%; }
        .site-content .main__header__box-button button.btn-danger {
          margin: 6px 0 14px; }
      .site-content .main__header__box-button small {
        font-size: 8px;
        line-height: 1.5;
        font-weight: 300;
        font-style: italic; }
  .site-content .main-table {
    padding: 12px 0 20px; }
    .site-content .main-table:not(:last-child) {
      border-bottom: 1px solid #D2CBCB; }
    .site-content .main-table.table-1 .main-table__row:not(:last-child) {
      margin-bottom: 13px; }
    .site-content .main-table.table-2 .main-table__row:not(:last-child), .site-content .main-table.table-3 .main-table__row:not(:last-child) {
      margin-bottom: 10px; }
    .site-content .main-table.table-2 .table-left {
      padding-right: 21px;
      position: relative; }
      .site-content .main-table.table-2 .table-left::after {
        position: absolute;
        content: "";
        width: 1px;
        height: calc(100% - 27px);
        bottom: 0;
        right: 0;
        background-color: #D2CBCB; }
    .site-content .main-table.table-2 .table-right {
      padding-left: 27px; }
      .site-content .main-table.table-2 .table-right .field-radio {
        gap: 0; }
      .site-content .main-table.table-2 .table-right label {
        min-width: 80px;
        margin-right: 19px; }
      .site-content .main-table.table-2 .table-right input.note {
        height: 25px;
        margin-left: 11px; }
    .site-content .main-table.table-3 label {
      flex: 0 0 auto; }
    .site-content .main-table.table-3 .money {
      gap: 12px;
      margin-left: 64px;
      position: relative; }
      .site-content .main-table.table-3 .money::after {
        position: absolute;
        content: "VND";
        text-transform: uppercase;
        right: 5px;
        padding-left: 5px;
        border-left: 1px solid #52C8ED; }
      .site-content .main-table.table-3 .money.disable::after {
        display: none; }
    .site-content .main-table__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: #000;
      margin-bottom: 13px; }
    .site-content .main-table__row {
      display: flex;
      align-items: center;
      width: 100%; }
      .site-content .main-table__row .label {
        flex: 0 0 auto; }
        .site-content .main-table__row .label label {
          flex: 0 0 auto; }
        .site-content .main-table__row .label-140 {
          width: 12.5%;
          min-width: 140px; }
        .site-content .main-table__row .label-195 {
          width: 17.41071%;
          min-width: 195px; }
        .site-content .main-table__row .label__note {
          padding: 0 10px 0 23px;
          flex: 1 0 auto; }
      .site-content .main-table__row .field {
        width: 26.78571%; }
        .site-content .main-table__row .field-radio {
          display: flex;
          align-items: center;
          gap: 38px; }
      .site-content .main-table__row select,
      .site-content .main-table__row input[type=text] {
        width: 100%;
        height: 28px;
        border: 1px solid #52C8ED;
        outline: none;
        border-radius: 5px;
        padding-left: 13px;
        line-height: 1.5;
        font-size: 14px;
        font-weight: 300; }
      .site-content .main-table__row input[type=radio]:checked {
        color: #52C8ED; }
      .site-content .main-table__row button,
      .site-content .main-table__row input[type=button],
      .site-content .main-table__row input[type=submit] {
        width: 106px;
        height: 28px;
        outline: 0;
        border: 1px solid #52C8ED;
        color: #fff;
        text-align: center;
        background: #52C8ED;
        border-radius: 10px;
        padding: 0;
        margin-left: 21px; }
      .site-content .main-table__row input[type=text]:disabled {
        background-color: #D9D4D4;
        border-color: #D9D4D4; }
    .site-content .main-table .total-money {
      font-weight: 600; }
      .site-content .main-table .total-money span {
        color: #EB1D1D; }

.field-radio label {
  line-height: 1.5;
  padding-left: 18px;
  position: relative;
  cursor: pointer;
  flex: 0 0 auto; }
  .field-radio label::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #19a1ee;
    border-radius: 100%; }
  .field-radio label::after {
    position: absolute;
    content: "";
    display: inline-block;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: transparent; }
  .field-radio label.disable::before {
    border-color: #D2CBCB;
    background-color: #D2CBCB; }
  .field-radio label.group::after {
    background-color: #8A8A8A; }
  .field-radio label.group::before {
    background-color: #8A8A8A;
    border-color: #8A8A8A; }

.field-radio > input:checked + label::before {
  border-color: #19a1ee;
  background-color: transparent; }

.field-radio > input:checked + label::after {
  background-color: #19a1ee; }

.field-radio > input {
  display: none; }
  .field-radio > input.note {
    display: block;
    width: auto; }

.field-radio.disable label::after {
  background-color: #8A8A8A; }

.field-radio.disable label::before {
  background-color: #8A8A8A;
  border-color: #8A8A8A; }

.field-radio.disable > input:checked + label::before {
  border-color: #8A8A8A;
  background-color: transparent; }

.field-radio.disable > input:checked + label::after {
  background-color: #8A8A8A; }
